.drawer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* .image {
 
} */

.avatar {
  height: 65px !important;
  width: 65px !important;
}

.top h4 {
  margin-top: 8px;
}

.top p {
  margin-top: -15px;
}

.menu {
  border-top: 1px solid #eee;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px 0;
  height: 35px;
}

.list:hover {
  background-color: rgb(248, 248, 248);
}

.listIcon {
  margin: 5px 13px;
  color: grey;
}

.logOut {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.logOut_btn {
  text-transform: capitalize;
  color: gray;
  border: 1px solid gray;
  width: 150px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eee;
}

.bullet {
  margin: 0 7px;
  color: gray;
  font-size: 4px;
}

.signin__btn{
  background-color: #075ee0 !important;
  color:  #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 !important;
  text-transform: inherit !important;
  width: 170px !important;
}