.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ads{
  /* min-height: 200px; */
}

.home::-webkit-scrollbar {
  display: none;
}

.endMessage{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  color: rgb(112, 110, 110);
  }
  
  .endMessage p strong {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
  }

.home__categories {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  display: flex;
  overflow-x: scroll;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-top: -3px;
}

.home__categories::-webkit-scrollbar {
  display: none;
}

.headlines {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.headlines::-webkit-scrollbar {
  display: none;
}

.headlines {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.seeMore {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.seeMoreBtn {
  background-color: #097efb !important;
  color: #fafafa !important;
  text-transform: capitalize;
  padding: 7px 15px;
}

.justForYou__container {
  margin-top: 50px;
}

.articles__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  padding-bottom: 120px;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.progress {
  height: 25px !important;
  width: 25px !important;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (min-width: 1000px) {
  .home {
    width: 45%;
  }

  .home__categories {
    display: none;
  }
}
@media (min-width: 720px) and (max-width: 1000px) {
  .home {
    width: 60%;
  }

  .home__categories {
    display: none;
  }
}
@media (min-width: 520px) and (max-width: 720px) {
  .home {
    width: 100%;
  }

  .home__categories {
    display: flex;
  }

  .articles {
max-width: 100%;
margin: 0 10%;
  }
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
