.home {
  height: 100%;
  /* padding-bottom: 100px; */
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home::-webkit-scrollbar{
  display: none;
}

.home__categories {
  display: flex;
  align-items: center;
	padding: 0px 10px;
	display: flex;
	overflow-x: scroll;
	background-color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.home__categories::-webkit-scrollbar{
  display: none;;
}

.headlines {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.headlines::-webkit-scrollbar {
  display: none; 
}

.headlines {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.seeMore {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.seeMoreBtn {
  background-color: #097efb !important;
  color: #fafafa !important;
  text-transform: capitalize;
  padding: 7px 15px;
}


.justForYou__container {
  margin-top: 50px;
}

.articles {
  margin-top: 40px;

/* margin-bottom: 00px; */
}



.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
