.navbar {
  display: flex;
  position: sticky;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  padding: 10px;
  font-size: larger;
  box-shadow: 0 0px 0px 1px rgb(0, 0, 0, 0.1);
}

.hide__navbar {
  display: none;
}

.navbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  cursor: pointer;
  height: 28px !important;
  width: 28px !important;
}

.search {
  display: flex;
  align-items: center;
  height: 38px;
  flex: 1;
  z-index: 100;
}

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(196, 192, 192);
  height: 38px;
  padding-left: 10px;
}

.searchContainer > input {
  width: 100%;
  border: none;
  outline-width: 0;
  font-size: 16px;

  height: 100%;
}
.searchContainer > input:focus-visible {
  outline-offset: 0px;
  outline: none;
}

.searchIcon__wrapper {
  height: 30px !important;
  width: 30px !important;
  margin-right: 5px !important;
}
.searchIcon {
  font-size: 23px !important;
}

.drawer{
  display: flex;
  flex-direction: column;
  /* top: -25%; */

}

/* .MuiDialog-container {
  top: 3000px !important;
  margin: 700px !important;
} */
.searchArticles {
display: none;
}
.lg__search{
display: none;

}


@media screen and (min-width: 720px) {
.navbar{
  position: fixed;
  /* display: contents; */
}

}
@media screen and (min-width: 1000px) {
  .searchArticles {
    width: 40%;
    margin-right: 80px;
    display: flex;
  }

  .lg__search {
    display: flex;
  }

}