.product_detail {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.marquee_text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

span.text_red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}
.logo {
  color: gray;
  font-size: 18px;
}

.product_detail_container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;
  justify-content: center;
}

.product_detail_image {
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease_in_out;
}
.product_detail_image:hover {
  background-color: #f02d34;
}
.small_images_container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small_image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected_image {
  background-color: #f02d34;
}

.product_detail_desc h4 {
  margin-top: 10px;
}
.product_detail_desc p {
  margin-top: 10px;
}
.reviews p {
  color: #324d67;
  margin-top: 0px;
}
.product_detail_desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}
.price .old_price,
.product_price .old_price,
.price .old_price {
  color: gray;
  text-decoration: line-through;
}

.product_detail_desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons .add_to_cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.buttons .add_to_cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy_now {
  width: 200px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy_now:hover {
  transform: scale(1.1, 1.1);
}

.maylike_products_wrapper {
  margin-top: 120px;
}
.maylike_products_wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}
.maylike_products_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.success_wrapper,
.cancel_wrapper {
  background-color: white;
  min-height: 60vh;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.success .email_msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

@media screen and (max-width: 800px) {
  .desc {
    bottom: 60px;
  }

  .image_container {
    margin-top: -40px;
  }

  .product_detail_container {
    flex-wrap: wrap;
  }
  .product_detail_container .product_detail_image {
    width: 350px;
    height: 350px;
  }

  .cart_container {
    width: 415px;
    padding: 4px;
  }
  .cart_heading {
    margin-top: 35px;
  }
  .product_container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart_product_image {
    width: 25%;
    height: 25%;
  }
  /* .buttons{
    padding: 20px;
} */

  .buttons .add_to_cart {
    width: 130px;
  }
  .buttons .buy_now {
    width: 130px;
  }
  .product_detail_container {
    margin: 20px;
  }

  .item_desc .flex {
    width: 200px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item_desc .bottom {
    margin-top: 30px;
  }

  .cart_bottom {
    padding: 30px;
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

  .btn_container {
    width: 300px;
    margin: auto;
  }
}

@media screen and (min-width: 390px) and (max-width: 800px) {
  .buttons .add_to_cart {
    width: 160px;
  }
  .buttons .buy_now {
    width: 160px;
  }
}

@media screen and (max-width: 290px) {
  .buttons .add_to_cart {
    width: 110px;
  }
  .buttons .buy_now {
    width: 110px;
  }
}