.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    padding: 10px;
}