.topic {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.topic:hover{
  background-color: rgb(250, 248, 248);
}

.avatar {
  margin: 0 10px;
  height: 25px !important;
  width: 25px !important;
  border: 1px solid rgb(170, 176, 221);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.info p {
  font-weight: 550;
}

.info span {
  margin-bottom: 8px;
  margin-top: -13px;
  font-size: 14px;
  color: rgb(146, 145, 145);
}

.right {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  color: gray !important;
}

.link {
  text-decoration: none;
}

.link:link {
  color: black;
}

.link:visited {
  color: black;
}

.link:active {
  color: black;
  text-decoration: none;
}
